# Archivos de credenciales AWS
.env

# Archivos de estado de Terraform
*.tfstate
*.tfstate.*
*.tfstate.backup

# Archivos de plan de Terraform
*.tfplan

# Directorio de Terraform
.terraform/
.terraform.lock.hcl

# Archivos de variables sensibles
terraform.tfvars
*.auto.tfvars

# Archivos de log
*.log

# Archivos temporales
.DS_Store
Thumbs.db
